{% extends 'base.html.twig' %}

{% block title %}Tout les employés{% endblock %}

{% block body %}

    <h1>Liste globale de tout les employés</h1>

    {% for employe in employesArray  %}
        <p>{{ employe.nom }}</p>
    {% endfor %}

{% endblock %}
