{% extends 'base.html.twig' %}

{% block title %}Tout les employés{% endblock %}

{% block body %}

    <h1>Liste globale de tout les employés</h1>

    <a href="accueil">Retour</a>
    <br>

    {% for employe in employesArray  %}
        <a href="/employeDetail/{{ employe.id }}">{{ employe.nom }}</a>
    {% endfor %}

{% endblock %}
